
@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
    }

    h1 {
        color: red;
        font-family: verdana;
        font-size: 200%;
    }

    
</style>
<h2>Skills</h2>


<ul>
    <li>Python</li>
    <li>Microsoft PowerPlatforms</li>
    <li>Automation</li>
    <li>RPA</li>
    <li>HTML</li>
    <li>CSS</li>
</ul>



