
@{
    ViewBag.Title = "BasicDetail";
}

<h2>BasicDetail</h2>
<button type="button" class="Education" onclick="Education()">Education</button>
<br />
<br />
<button type="button" class="Qualification" onclick="Qualification()">Qualification</button>
<br />
<br />
<button type="button" class="Skills" onclick="Skills()">Skills</button>
<br />
<br />
<button type="button" class="Hobbies" onclick=" Hobbies()"> Hobbies</button>
<br />

