@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Portfolio</h1>
    <p class="lead">I m Girija Patil , its been one year I m with Gyansys , happy to be part of enthusiastic work environment which will hwlp mw to impat knowledge about the latest technologies, intending and contributeing positively towards the growth . </p>
</div>