
@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
    }


 
</style>
<h2>Hobbies</h2>


<ul>
    <li>Pencil Sketch</li>
    <li>Water Painting</li>
    <li>Dancing</li>
    <li>Gardening</li>
    <li>EmbosePainting</li>
</ul>


